body {
  font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Inter','Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  /* border-bottom: 1px solid rgb(145, 70, 255); */
}

* a {
  text-decoration: none;
}




/* header */

header .menu ul li a:hover {
  color: rgb(145, 70, 255);
}

.inner .logo img {
  height: 100px;
  width: 100px;
  margin-top: 30px;

}

.inner .sub-menu {
  position: absolute;
  display: flex;
  right: 0;
}

.inner .sub-menu ul {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.inner .sub-menu ul li {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.inner .sub-menu ul li a {
  color: #000;
}

.inner .sub-menu ul span {
  font-size: 22px;
  margin-left: 10px;
  color: rgb(145, 70, 255)
}

.inner .menu ul {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.inner .menu ul li {
  /* background-color: purple;
  border-radius: 30px; */

}

.inner .menu ul li a {
  margin-left: 45px;
  margin-right: 45px;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

/* 슬라이드 영역 */

.swiper .swiper-slide img {
  width: 900px;
  height: 350px;
  margin-top: 20px;
  border-radius: 15px;
}

/* top 100 */

.inner .number {
  margin-top: 20px;
  position: relative;
  margin-left: 20px;

}

.inner .number img {
  position: absolute;
  width: 300px;
  height: 310px;
  right: -607px;
  top: 0;
  border-radius: 20px;
  /* display: none; */
  opacity: 0;
}
.inner .number-2 img {
  position: absolute;
  width: 300px;
  height: 310px;
  right: -320px;
  top: 0;
  border-radius: 20px;
  /* display: none; */
  opacity: 0;
}


.number ul img.n-1 {
  /* display: block; */
  opacity: 1;
}

.inner .number ul li:hover a {
  color: rgb(145, 70, 255)
}

.inner .number-2 ul li:hover a {
  color: rgb(145, 70, 255)
}

.number ul li:hover .n-1 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
}
.number ul li:hover .n-2 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
}
.number ul li:hover .n-3 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
}

.number ul li:hover .n-4 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
}

.number-2 ul li:hover .n-5 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
} 

.number-2 ul li:hover .n-6 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
} 

.number-2 ul li:hover .n-7 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
} 

.number-2 ul li:hover .n-8 {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
} 



.inner .number ul .top100  {
  color: rgb(145, 70, 255);
  font-weight: 700;
}

.inner .number ul li {
  margin-top: 15px;
  font-size: 20px;
  /* border: 2px solid #666;
  border-radius: 10px; */
}

.inner .number ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.inner .number ul li span {
  color: #666;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 3px;

}

.inner .number-2 {
  margin-top: 20px;
  position: relative;
  margin-left: 70px;

}

.inner .number-2 ul li {
  margin-top: 15px;
  font-size: 20px;
}

.inner .number-2 ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.inner .number-2 ul li span {
  color: #666;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 3px;
}


/* 유튜브 */

.youtube {
  overflow: hidden;
}

.youtube__area {
  /* 유튜브의 표준 영상 비율 16:9 */
  width: 900px;
  height: 506px;
  margin-top: 20px;
  
}

#player {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}


/* 추천음악 */

.inner .commend .material-icons {
  width: 200px;
  height: 180px;
  color: rgb(145, 70, 255);
  font-size: 150px;
  position: absolute;
  left: 100px;
  top: 40px;
}


.inner .commend-1 {
  color: rgb(145, 70, 255);
  font-weight: 700;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 20px; */
}

.commend-2 {
  position: absolute;
  right: 0;
  margin-top: 20px;
}

.commend-2 ul li {
  margin-bottom: 15px;
  margin-right: 40px;
  
}

.commend-2 ul li a {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.inner .commend-2 ul li img {
  width: 200px;
  height: 180px;
  left: -250px;
  top: 0;
  position: absolute;
  border-radius: 10px;
  /* display: none; */
  opacity: 0;
  
}

.inner .commend-2 ul li .c-1 {
  /* display: block; */
  opacity: 1;
}

.commend-2 ul li:hover img {
  /* display: block; */
  opacity: 1;
  transition: 0.8;
}

.commend-2 ul li:hover a {
  color: rgb(145, 70, 255);
}

.inner .footer-1 {
  border-top: 1px solid rgb(145, 70, 255);
  height: 230px;
  bottom: -500px;
  position: absolute;
  /* background-color: rgb(145, 70, 255); */
  left: 0;
  right: 0;
  margin: auto;
}

.inner .footer-1 li {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.inner .footer-1 li a {
  font-size: 11px;
  color: #444;
  margin-bottom: 5px;
  
}




