html {
  scroll-behavior: smooth;
}




body {
  font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Inter','Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
  /* box-sizing: border-box; */
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;  
  background-color: #fff;
  display: flex;
  /* border-bottom: 1px solid rgb(145, 70, 255); */
}

a {
  text-decoration: none;
}


#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
}

#modal .modal-wrapper {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

#modal .modal-wrapper img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
#modal .modal-wrapper img.rotate {
  animation: rotate-once 1s;
}

#modal .modal-wrapper .lp-title {
  width: 100%;
  color: #f2f54c;
  font-weight: 700;
  font-size: 48px;
  position: absolute;
  top: 200px;
}

@keyframes rotate-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* header */

header .menu ul li a:hover {
  color: rgb(200, 170, 230);
}

header .logo img {
  height: 100px;
  width: 100px;
  margin-top: 30px;

}

header .sub-menu {
  position: absolute;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
}

header .search {
  position: absolute;
  right: 0px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

header .search input {
  border: 2px solid rgb(200, 170, 230);
  border-radius: 5px;

}

header .search span {
  right: 5px;
  font-size: 17px;
  position: absolute;
  color: rgb(200, 170, 230);
}

header .sub-menu ul {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

header .sub-menu ul li {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

header .sub-menu ul li a {
  color: #000;
}

header .sub-menu span {
  margin-top: 30px;
  font-size: 22px;
  margin-left: 10px;
  color: rgb(200, 170, 230);
}

header .menu ul {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}


header .menu ul li a {
  margin-left: 45px;
  margin-right: 45px;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

header .inner .menu-2 {
  position: absolute;
  right: 0px;
  top: 110px;
  font-size: 15px;
  z-index: 2;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
  border-radius: 10px;
  opacity: 0;
}

header .menu-2 ul {
  position: absolute;
  right: 30px;
  top: 20px;

}

header .btn span {
  font-size: 40px;
  right: 20px;
  position: absolute;
  color: rgb(200, 170, 230);
  bottom: -14px;
  z-index: 3;
  opacity: 0;
}

header .menu-2 span {
  font-size: 40px;
  right: 20px;
  position: absolute;
  color: rgb(200, 170, 230);
}

header .menu-2 ul li a{
  margin-top: 40px;
  color: #000;
  font-size: 20px;
  /* position: absolute; */
  right: 0;
  display: block;
  justify-content: flex-end;
} 

header .inner .menu-2.active {
  display: none;
}


/* 슬라이드 영역 */

.swiper .swiper-slide img {
  width: 900px;
  height: 350px;
  margin-top: 20px;
  border-radius: 15px;
}


/* top 100 */

.top .number {
  margin-top: 20px;
  /* position: relative; */
  margin-left: 20px;
}

.top .number-2 {
  margin-top: 20px;
  /* position: relative; */
  margin-left: 20px;
}

.top .number-3 {
  margin-left: 20px;
  margin-top: 20px;
  opacity: 0;
}

.top .number img {
  position: absolute;
  width: 300px;
  height: 310px;
  right: -0;
  top: 10px;
  border-radius: 20px;
  /* display: none; */
  opacity: 0;
}
.top .number-2 img {
  position: absolute;
  width: 300px;
  height: 310px;
  right: 0px;
  top: 10px;
  border-radius: 20px;
  /* display: none; */
  opacity: 0;
}


.number ul img.n-1 {
  /* display: block; */
  opacity: 1;

}

.top .number ul li:hover a {
  color: rgb(200, 170, 230);
}

.top .number-2 ul li:hover a {
  color: rgb(200, 170, 230);
}

.top .number-3 ul li:hover a {
  color: rgb(200, 170, 230);
}


.number ul li:hover .n-1 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
}
.number ul li:hover .n-2 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
}
.number ul li:hover .n-3 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
}

.number ul li:hover .n-4 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
}

.number-2 ul li:hover .n-5 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
} 

.number-2 ul li:hover .n-6 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
} 

.number-2 ul li:hover .n-7 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
} 

.number-2 ul li:hover .n-8 {
  /* display: block; */
  opacity: 1;
  transition: 0.8s;
} 



.top .number .top100  {
  color: rgb(200, 170, 230);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.top .number ul li {
  margin-top: 15px;
  font-size: 20px;
  /* border: 2px solid #666;
  border-radius: 10px; */
}

.top .number ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.top .number ul li span {
  color: #666;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 3px;

}



.top .number-2 ul li {
  margin-top: 15px;
  font-size: 20px;
}

.top .number-2 ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.top .number-2 ul li span {
  color: #666;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 3px;
}

.top .number-3 ul li {
  margin-top: 15px;
  font-size: 20px;
}

.top .number-3 ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.top .number-3 ul li span {
  color: #666;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 3px;
}


/* Top click */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}
.top-click {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

.top-click img {  
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.modal .top-click a span {
  font-size: 50px;
  color: #fff;
  width: 50px;
  height: 50px;
  z-index: 11;
  position: absolute;
  left: 374px;
  bottom: 250px;
}

.modal .top-click .lp-title-1{
  position: absolute;
  width: 100%;
  font-size: 40px;
  color: #fff;
  top: 200px;
}

.modal .top-click img.rotate {
  animation: rotate-once 1s;
}



/* 유튜브 */

.youtube {
  overflow: hidden;
}

.youtube__area {
  /* 유튜브의 표준 영상 비율 16:9 */
  width: 900px;
  height: 506px;
  margin-top: 20px;
  
}

#player {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}


/* 추천음악 */

.inner .commend .material-icons {
  width: 200px;
  height: 180px;
  color: rgb(200, 170, 230);
  font-size: 100px;
  position: absolute;
  left: 50px;
  top: 70px;
}


.inner .commend-1 {
  color: rgb(200, 170, 230);
  font-weight: 700;
  display: block;
  font-size: 23px;
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 20px; */
}

.commend-2 {
  position: absolute;
  right: 70px;
  margin-top: 20px;
}

.commend-2 ul li {
  margin-bottom: 15px;
  margin-right: 40px;
  
}

.commend-2 ul li a {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.inner .commend-2 ul li img {
  width: 200px;
  height: 180px;
  left: -250px;
  top: 0;
  position: absolute;
  border-radius: 10px;
  /* display: none; */
  opacity: 0;
  
}

.inner .commend-2 ul li .c-1 {
  /* display: block; */
  opacity: 1;
}

.commend-2 ul li:hover img {
  /* display: block; */
  opacity: 1;
  transition: 0.8;
}

.commend-2 ul li:hover a {
  color: rgb(200, 170, 230);
}


/* footer */

.inner .footer-1 {
  border-top: 1px solid rgb(200, 170, 230);
  height: 280px;
  bottom: -500px;
  position: absolute;
  /* background-color: rgb(145, 70, 255); */
  left: 0;
  right: 0;
  margin: auto;
}

.inner .footer-1 p {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
  
}

.inner .footer-2 {
  display: flex;
  position: absolute;
  right: 390px;
  bottom: -420px;
  justify-content: center;
  align-items: center;
}

.inner .footer-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-2 ul li img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  border-radius: 10px;
}

.to-top {
  width: 42px;
  height: 42px;
  background-color: rgb(200, 170, 230);
  border: 2px solid rgb(200, 170, 230);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 5;
}

.to-top a span {
  color: #fff;
}


@media screen and (max-width: 900px) {
  .number ul li img {
    display: none;
  }

  .number-2 ul li img {
    display: none;
  }

  .youtube {
    display: none;
  }

  .commend {
    display: none;
  }

  .top .inner .number-3 {
  opacity: 1;
  }

  .inner .footer-2 {
    left: 0;
    right: 0;
    margin: auto;
  }

  .cmd .inner .commend-2 {
    left: 300px;
  }

  header .menu {
    display: none;
  }

  header .btn span {
    opacity: 1;
    transition: 1s;
  }


    header .inner .menu-2 {
    opacity: 1;
    transition: 1s;
    }

    /* header .inner .menu-2.active {
      display: block;
    } */
}


